.logo-image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .bg-white {
  background-color: #1e1e1e !important;
}

body.dark-mode .btn-light {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .btn-dark,
  .btn-light {
    font-size: 12px;
    padding: 5px 10px;
  }
}